.vscode/
*.o
*.a
*.dSYM/
**/__pycache__
z80/tests/test_pilot
z80/tests/test_runner
z80/tests/test.bin
z80/tests/test.lst
kaypro/kaypro_run
kaypro/tests/smoke_test
kaypro/tests/smoke_test_runner
kaypro/tests/fdc_smoke_test
kaypro/tests/sio_smoke_test
kaypro/tests/crt_smoke_test
kaypro/tests/hdc_smoke_test
kaypro/tests/rom_smoke_runner
kaypro/tests/rom_nmi_smoke_runner
kaypro/tests/rom_smoke.bin
kaypro/tests/rom_smoke.lst
kaypro/tests/rom_nmi_smoke.bin
kaypro/tests/rom_nmi_smoke.lst
kaypro/assets/
tools/.cache/
tools/td0_to_dsk/td0_to_dsk
z80/tests/test_vectors.bin
*.log
